.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .button {
    color: white;
    background-color: #1e90ff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
  }
  
  .imageContainer {
    display: flex;
    overflow-x: scroll;
    margin-top: 20px;
  }
  
  .image {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 10px;
  }
  